html,
body {
    font-family: serif;
}

body {
    margin: 20px;
}

.whether {
    border: 2px solid green;
    width: 200px;
    margin: 40px;
    padding: 5px;
    color: green;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.city_name,
.temp {}